.main {
  margin-top: 3cm;
  text-align: center;
  padding: 5;
}
.addbutton{
  margin-top: 3cm;
}

.container{
  color: rgb(0, 0, 0);
  text-shadow: 1px 4px 4px #585858;
}

p {
  border-color: black;
  border-width: 2px;
  border-style: dashed;
}

.clock {
  margin-top: 4cm;
  margin-bottom: 1cm;
  font-family: Blink;
  font-size: 0.7cm;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #919191;
}

.form-group {
  text-align: left;
}

.addbutton {
  padding: 0.5cm;
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/* search */
input[type=search] {
  background-color: #e0dede;
  width: 500px;
  margin-bottom:  30px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
  width: 55%;
  
  
}

#searching{
  border-top: 100;
}

