body {
  left :200px;
  margin: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-attachment: fixed; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-kini{
  background-image: url(./images/kini.jpg);
  background-size: 7%;
  background-position-x: center;
  background-position-y: 0cm;
	margin-left: 1.3%;
	margin-top: 1%;
  background-repeat: no-repeat;
}